@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
    font-family: Barlow;
    src: url(./Assets/Barlow-Light.otf)
}

@font-face {
    font-family: Nudista;
    src: url(./Assets//Nudista\ Bold.ttf)
}

p {
    font-family: Barlow;
}

h3 {
    color: #4b73b4 !important;
    font-weight: bold !important;
}

Button {
    font-family: Barlow !important;
}

html {
    scrollbar-gutter:stable;
}

.sunny {
    color: rgb(160, 160, 160);
}

.paddings {
    padding-left: 1rem;
}

.list-row:hover {
    background-color: #f4f4f4;
}
.react-datepicker__day--highlighted,.react-datepicker__month-text--highlighted, .react-datepicker__quarter-text--highlighted, .react-datepicker__year-text--highlighted {
    background-color: #ffffff;
    color: black;
    border: solid 1px rgb(182, 182, 182);
}

.react-datepicker__day--highlighted:hover, .react-datepicker__day--selected:hover{
    background-color: #4b73b4;
    color: white;
}

.react-datepicker__day--selected {
    background-color: #4b73b4;
    color: white;
}

.react-datepicker__day--keyboard-selected {
    background-color: #ffffff;
    color: white;
}

/* Media Queries*/

@media only screen and (max-width: 1440px) {
    .map-div {
        height: 500px !important;
    }
}

@media only screen and (max-width: 1300px) {
    .list-row {
        height: 30vh !important;
    }
}

@media only screen and (max-width: 1200px) {
    .filter-row {
        width: 55vw !important;
    }

    .venue-row {
        width: 55vw !important;
    }

    .list-row {
        width: 55vw !important;
    }

    .calendar-row {
        width: 55vw !important;
    }
}

@media only screen and (max-width: 992px) {
    .overlay {
        width: 20vw !important;
    }

    .filter-row {
        width: 68vw !important;
    }

    .venue-row {
        width: 68vw !important;
    }

    .list-row {
        width: 68vw !important;
    }

    .calendar-row {
        width: 68vw !important;
    }

    .thumbnail-placeholder {
        font-size: 5rem !important;
    }
}

@media only screen and (max-width: 768px) {
    .overlay {
        width: 25vw !important;
    }

    .filter-row {
        width: 75vw !important;
    }

    .venue-row {
        width: 75vw !important;
    }

    .list-row {
        width: 75vw !important;
        height: 11rem !important;
    }

    .calendar-row {
        width: 75vw !important;
    }

    .event-name {
        font-size: 16px;
    }
}


@media only screen and (max-width: 576px) {
    .overlay {
        width: 30vw !important;
    }
      .filter-row {
        width: 80vw !important;
    }

    .venue-row {
        width: 80vw !important;
    }

    .list-row {
        width: 80vw !important;
       height: 6.3rem !important;
    }

    .calendar-row {
        width: 80vw !important;
    }

    .subtext {
        width: 70vw;
    }

    .info-col {
        padding: 0 !important;
    }

    .thumbnail {
        width: 200%;
        height: 100;
    }

    .listing-font {
        font-size: 12px;
    }

    .event-name {
        font-size: 14px;
    }

    .thumbnail-placeholder {
        width: 200% !important;
    }
}